body{
    background-color: black;
}

.central{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    width: 1000px;
    height: 1600px;
    background-color: #234124;
    border: solid 3px #dce2b3;
    border-radius: 20px;
}

.caixa ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #dce2b3;
}


input{
    font-size: medium;
    width: 700px;
    height: 50px;
    border-radius: 10px;
}
input:hover{
    background-color: #dce2b3;
    color: black;
    border-color: black;
    border-end-end-radius:20px ;
    font-size: large;
}

ul li select{
    font-size: large;
     width: 700px;
    height: 50px;
    border-radius: 10px;
}
ul li select:hover{
    background-color: #dce2b3;
    color: black;
     border-end-end-radius: 20px;
      box-shadow: 0 10px 10px #dce2b3;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 150px;
    height: 50px;
 font-size: medium;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #3f422f;
    color: #dce2b3;
}


.cores{
    color: #3f422f;
    color: #7e8730;
    color: #888d6d;
    color: #dce2b3;
    color: #5f6343;
                }


                @media (max-width:900px){
                    .central{
                        flex-direction: column;
                        height: auto;
                        width: 100%;
                    }
                    .caixa{
                        width: 100%;
                        height: auto;
                    }
                    img{
                        width: 200px;
                        height: 200px;
                    }
                    button{
                        width: 110px;
                        height: 50px;
                     font-size: medium;
                        border-radius: 20px;
                        cursor: pointer;
                    }

 ul li select{
       width: 300px;
    height: 50px;
 font-size: medium;
    border-radius: 20px;
   } 
   ul li select:hover{
    background-color: #dce2b3;
    color: black;
    border-color: black;
    border-end-end-radius:20px ;
    font-size: large;
   }

                    input{  
                        width: 300px;
                        height: 50px;
                     font-size: medium;
                        border-radius: 20px;
                        }
                       
input:hover{
    background-color: #dce2b3;
    color: black;
    border-color: black;
    border-end-end-radius:20px ;
    font-size: large;
}
    }
                
input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
}
